#
# Logical Preferences generated for Lattice by Synplify maplat, Build 1796R.
#

# Period Constraints 
#FREQUENCY PORT "CLOCK50" 1.0 MHz;
#FREQUENCY NET "driver/SCLK_c" 1.0 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 

#MULTICYCLE FROM CLKNET "driver/SCLK_c"  TO CLKNET "driver/SCLK_c"  2X;


# Block Path Constraints 

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
