BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "CLOCK50" SITE "105";
LOCATE COMP "nRESET" SITE "23";

LOCATE COMP "SCLK_LED" SITE "15";

#LOCATE COMP "LED[0]" SITE "15";
#LOCATE COMP "LED[1]" SITE "17";
#LOCATE COMP "LED[2]" SITE "19";
#LOCATE COMP "LED[3]" SITE "20";



LOCATE COMP "MOSI" SITE "12";
LOCATE COMP "MISO" SITE "11";
LOCATE COMP "CS" SITE "10";
LOCATE COMP "SCLK" SITE "9";


LOCATE COMP "RxD" SITE "121";
LOCATE COMP "TxD" SITE "122";