BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "CLOCK50" SITE "105";
LOCATE COMP "RESET" SITE "23";

LOCATE COMP "MOSI" SITE "12";
LOCATE COMP "MISO" SITE "11";
LOCATE COMP "SCLK" SITE "10";
LOCATE COMP "CS" SITE "9";

LOCATE COMP "RxD_PIN" SITE "121";
LOCATE COMP "TxD_PIN" SITE "122";